<html xmlns:th="http://www.thymeleaf.org">
<head><title>Carparking WebGUI n.°1</title></head>
<body>

<p>Last issued command: <b><span th:text="${arg}">Our Arg</span></b>.</p>

<!--<form action="robotmove" method="get">
    <button name="move" value="w">Move Forward</button>
    <button name="move" value="l">Turn Left</button>
    <button name="move" value="r">Turn right</button>
</form>-->

<form action="carparking" method="get">
    <button name="move" value="enter">Enter Request</button>
    <button name="move" value="exit">Exit Request</button>
</form>

</body>
</html>
